.profileInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email {
  margin-top: 7px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  opacity: 0.5;
}
