.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 136px;

  background: #fcfcfc;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.header img {
  cursor: pointer;
}
