.spanBlock {
  width: 276px;
}

.span {
  margin-left: 10px;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #0080ff;
}

.input {
}

.pen {
  width: 16px;
  height: 16px;
}
