.spanBlock {
    width: 276px;
}

.span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
    margin-left: 10px;
}

.input {

}

.pen {
    width: 16px;
    height: 16px;
}