.filterPanelContainer {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  margin: 24px 0;
}

.search {
  width: 45%;
}

.disablePanel {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: transparent;
}
