.header {
  display: flex;
  justify-content: space-between;
}

.header button {
  background-color: white;
  border: none;

  transition: 0.2s ease-in-out;
}

.header button:hover {
  transform: scale(1.3);
}
.input {
  display: flex;
  flex-direction: column;

  margin-top: 25px;
}

.buttons {
  display: flex;
  justify-content: space-around;

  margin-top: 25px;
}

.checkbox {
  margin-top: 25px;
}

.disabled {
  cursor: not-allowed;

  opacity: 0.2;
}

.coverImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 25px;
}

.coverImg img {
  width: 200px;
  height: 100px;
  margin-top: 10px;
}

.changeCoverImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 25px;
}

.coverButton {
  display: flex;
  align-items: center;
  justify-content: end;

  margin-top: 25px;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}