.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: max-content;
  min-width: 137px;
  height: 30px;
  padding: 5px 24px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;

  border-radius: 30px;
}

.disabled {
  color: #002e5c;

  opacity: 0.5;
  background: #004d99;
}

.secondary {
  color: #0066cc;

  background: #ffffff;
  border: 1px solid #004d99;
}

.default {
  background: #0066cc;
  border: 1px solid #0066cc;
}

.red {
  background: #cc1439;
  border: 1px solid #cc1439;
}

.default:hover {
  background: #0080ff;
}

.red:hover {
  background: #ff1a47;
}

.secondary:hover {
  background: #e5f0fa;
  border: 1px solid #0066cc;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
  border: 1px solid #0066cc;
}

.red:active {
  background: #b31232;
}
