.avatarContainer {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.avatarContainer > label {
  position: absolute;

  color: #ffffff;

  background-color: #808080;
  border: 1px solid #ffffff;
}

.avatarContainer > label:hover {
  background-color: darkgray;
  border: 1px solid #ffffff;
}
