/*стрелка*/
.selectWrapper::after {
  pointer-events: none;
  content: '';

  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);

  display: block;

  width: 20px;
  height: 20px;

  /*стрелка*/
  background: url('chevron-down.svg');
}

.selectWrapper {
  position: relative;

  width: max-content;
}

.select {
  cursor: pointer;
  /*!*    *!*/
  width: 180px;
  padding: 10px 35px 10px 15px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;

  background: transparent;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  outline: none;
  /*убираем стандартный стиль и стрелку*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*only Internet Explorer*/
.select::-ms-expand {
  display: none;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 1px black;
}

.options:hover {
}
