.mainContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 50px;
}
.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;

  margin: 10px 0;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 25px;
}
