.container {
  display: flex;
}

.title {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
}

.input > div {
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.input > div > input {
  padding: 0;

  font-weight: bold;
  text-align: center;
}

.value1 {
  margin-right: 8px;
}

.value2 {
  margin-left: 8px;
}
