

.container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 60%;
    min-height: 100vh;
    margin-right: 10%;
    margin-bottom: 40px;
    margin-left: 10%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.tableFooter {
    display: flex;
    flex-direction: row;
    justify-content: start;

    width: 100%;
}