.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  min-height: 100vh;
  margin: 36px auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
