.container {
  margin: 40px 136px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.title {
  margin-right: 5px;

  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}
