.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text1,
.text2 {
  margin: 0 10px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.pagination select {
  width: 70px;
}
