.input:focus {
}

.input {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-sizing: border-box;
  width: 372px;
  height: 36px;
  padding: 10px;
}

.inputWrapper {
}

.superInput {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-sizing: border-box;
  width: 372px;
  height: 36px;
}

.errorInput {
  border: 1px solid #cc1439;
  border-radius: 5px;
}

.errorInput:focus {
  border: 1px solid #cc1439;
  border-radius: 5px;
}

.error {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #cc1439;
}
