.name {
  overflow: hidden;

  width: 250px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.nameCell {
  width: 35%;
}

.countCell {
  width: 10%;
}

.cell {
  width: 24%;
}

.cell,
.countCell,
.nameCell {
  cursor: pointer;

  word-break: break-word;
  white-space: normal;
}

.disabled {
  cursor: not-allowed;

  opacity: 0.2;
}
