.tableRow {
  /*cursor: pointer;*/
}

.nameCell {
  cursor: pointer;

  width: 30%;

  word-break: break-word;
}

.countCell {
  cursor: pointer;

  width: 10%;
}

.cell {
  cursor: pointer;

  width: 20%;
}

.disabled {
  cursor: not-allowed;

  opacity: 0.2;
}
