.nameCell {
  width: 35%;
}

.countCell {
  width: 10%;
}

.cell {
  width: 23%;
}

.cell,
.countCell,
.nameCell {
  cursor: pointer;

  word-break: break-word;
  white-space: normal;
}

.disabled {
  cursor: not-allowed;

  opacity: 0.2;
}
