@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.paper_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/

  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.textInfo {
  margin-top: 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  opacity: 0.5;
}
